/********************
universal
********************/
body{
	margin: 0px;
	background-color: black;
}
ul li{
	list-style: none;

}
a {
	text-decoration: none;
}
li a{
	text-transform: uppercase;
}
/********************
Main Navigation
********************/
nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #808080;
}
.i1{
	width: 150px;
	height: 150px;
}
.menu{
	float: right;
	height: 67px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.menu>li{
	float: left;
	
}
nav li a{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 15px;
	color: black;
}
.menu>li>a{
	border-left: 1px solid #C0C0C0;
	padding: 25px 0;
	width: 150px;
	text-align: center;
	float: left;
}
.menu>li:first-child>a{
	border-left: none;
}
nav figure{
	position: absolute;
	top:-50px;
	left: 50px;
	-webkit-animation-name: shark;
	-webkit-animation-duration: 0.25s;
	-webkit-animation-timing-function: ease;
}
@-webkit-keyframes shark{
	0%{-webkit-transform: translate(90%,70%);opacity: 0;}
	33%{-webkit-transform: translate(40%,20%);rotate(90deg);}
    66%{-webkit-transform: translate(10%,50%);}
    100%{-webkit-transform: translate(0%); opacity: 1;}

}
nav li a:focus,
nav li a:hover,
nav li a.active{
	background-color: #eb2428;
	color:#fff;
}
/****************
submenu
****************/
.submenu ul{
	position: absolute;
	top:63px;
	background-color: #808080;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	width: 150px;
	border-radius: 0 0 15px 15px;
	padding-left: 0px;
	overflow: hidden;
	display: none;
}
.submenu a{
	display: block;
	padding: 20px 0;
}
.submenu:hover ul{
	display: block;
	-webkit-animation-name: submenu;
	-webkit-animation-duration: .60s;
	-webkit-animation-timing-function: ease;
}
@-webkit-keyframes submenu{
	from{-webkit-transform: translateY(-100%);}
	to{-webkit-transform: translateY(0%);}
}